.home{
    background-attachment: fixed;
      background: linear-gradient(to right, #606c88,#3f4c6b);

    background-size: cover;
    min-height: 100vh;
    background-position: center;
    backdrop-filter: blur(15px);
}
.main-content .gradient-btn1{
   
    position: inline;
    top: 50%;
    left: 60%;
    width: auto;
}
.main-content h1 {
    font-size: 3rem;
}
.gradient-btn1 {
    width: 200px;
    height: 45px;
    display: grid;
    place-items: center;
    text-decoration: none;
    color: #fff;
    background-color: #0072ff;
    background-image: linear-gradient(to right,
            #4162cf 0% #0072ff 51% #4162cf 100%);
    border-radius: 10px;
    background-size: 200% auto;
    transition: .3s ease-in-out;
    margin-top: 1.5rem;
    
}

.gradient-btn1:hover {
    background-position: right center;
}
@media screen and (max-width:600px) {
    .main-content h1 {
        font-size: 2.25rem;
    }
     .gradient-btn1 {
        width: 175px;
        height: 40px;
        font-size: .8rem;

    }
}