.home-main {
    background-attachment: fixed;
    background: linear-gradient(to right, #606c88, #3f4c6b);

    background-size: cover;
    min-height: 100vh;
    background-position: center;
}

.container {
    display: flex;
    margin-top: 5px;
}

.leftmenu {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 15%;
    min-height: 580px;
    padding: 5px;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    background-color: #3f4c6b;
    border: 2px solid #eee;
}

.leftmenu::-webkit-scrollbar {
    width: 0;
}

.leftmenu h4 {
    margin-bottom: 10px;
    color: #fff;
}

.leftmenu a {
    text-decoration: none;
    color: #fff;
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
}

.copyright {
    text-align: center;
    padding: 10px;
    font-size: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #eee;
}

.java-content {
    margin-left: 5px;
    background-color: #3f4c6b;
    border: 2px solid #eee;
    width: 85%;
    color: #eee;
    max-height: 580px;
    padding-left: 25px;
    padding-right: 25px;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;

}

.java-content::-webkit-scrollbar {
    width: 0;
}